.bg-account {
    background-color: indigo;
}

.contenedor__menu,
.contenedor__figuras {
    margin-top: 9px;
    margin-right: 9px;
}

.contenedor__menu {
    position: relative;
}

.menu__opciones {
    position: absolute;
    margin-bottom: 0;
}

.contenedor__figuras {
    position: relative;
    border: 2px dotted gray;
    margin-left: 9px;
}