<div class="row  justify-content-center mt-3" *ngIf="isMath">
    <button class="btn btn-primary " [routerLink]="['/secure','element',elemento?.nombre,'edit']"> <i class="fa fa-edit"></i> Editar</button>
</div>
<div class="row figuras__contenido h-100" *ngIf="elemento">
    <!--  <div class="figura__detalle" [ngClass]="{'col-5':isFormula, 'col-5':isImagen, 'col-12':!isFormula, 'col-12':!isImagen}"> -->

    <div class="figura__detalle col-5">
        <div class="row text-center">
            <div class="col-12 figura__titulo ">
                <h1>{{elemento.nombre}}</h1>
            </div>
            <div class="col-12 figura__descripcion">
                <p>{{elemento.descripcion}}</p>
            </div>
            <div class="col-12 figura__imgformula">
                <button class="btn btn-outline-dark figura__boton" (click)="mostrarFormulas()">Formulas</button>
                <button class="btn btn-outline-dark figura__boton" (click)="mostrarImagenes()">Imagenes</button>
            </div>
        </div>
    </div>
    <div class="col-6 figura__media text-center" *ngIf="isFormula ">
        <h3>Formulas</h3>
        <div class="row" *ngFor="let formula of elemento.formulas ">
            <div class="col-12">
                <h4>{{formula.titulo}}</h4>
            </div>
            <div class="col-12">
                <p>{{formula.titulo==='perimetro'?'P: ':'A: '}}{{formula.formula}}</p>
            </div>
        </div>
        <button class="btn btn-outline-dark " (click)="ocultarDetalle() ">Ocultar</button>
    </div>
    <div class="col-6 figura__media text-center" *ngIf="isImagen ">
        <div class="row ">
            <div class="col-12 figura__imagen" *ngFor="let imagen of figura.imagenes|slice:0:3; let i=index ">
                <div class="row">
                    <p class="figura__titulo col-4 text-center align-self-center">Imagen {{i}}</p>
                    <img class="col-8" src="{{imagen}} " alt="">
                </div>
            </div>
            <!--   <ng-container *ngFor="let imagen of figura.imagenes; let i=index ">
                <p class="figura__titulo ">Imagen {{i}}</p>
                <img src="{{imagen}} " alt=" " class="figura__imagen">
            </ng-container> -->
        </div>
        <button class="btn btn-outline-dark " (click)="ocultarDetalle() ">Ocultar</button>
    </div>
</div>